body {
  background-color: #0f1014;
  color: white;
  overflow-x: hidden;
}



/* for subscribe button  */
.subscription {
  text-align: center;
  height: 60px;
  width: 100px;
}
.subscribe {
  border: 1px;
  border-radius: 25px 25px;
  padding: 3px 7px;
  background-color: #352e23;
  color: #b99659;
  margin-top: 5px;
  font-size: 16px;
  position: fixed;
  top: 95px;
  left: 8px;
}
ul{
  display: inline-block;
  width: 250px;
  list-style-type: none;
  padding: 0 0;
  margin-right: 100px;
}
.hide_links{
  visibility: hidden;
}
.container{
  margin-top: 15px;
}
.ulh2{
  padding-bottom: 15px;
}

/* For giving margin to whole cards */
.card-container{
  margin-left: 150px;
}


.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 300px;
  z-index: 0;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
}
.fa-chevron-left,.fa-chevron-right{
  color: white;
}
.carousel-item {
  flex-shrink: 0;
  margin-right: 10px;
}


.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 100%;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  visibility: hidden;
  transition-timing-function: ease-in;
}
.prev-button{
  background: rgb(3,0,7);
  background: -moz-linear-gradient(270deg, rgba(3,0,7,0.26156761532738093) 4%, rgba(7,1,15,1) 78%);
  background: -webkit-linear-gradient(270deg, rgba(3,0,7,0.26156761532738093) 4%, rgba(7,1,15,1) 78%);
  background: linear-gradient(270deg, rgba(3,0,7,0.26156761532738093) 4%, rgba(7,1,15,1) 78%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030007",endColorstr="#07010f",GradientType=1);
}
.next-button{
  background: rgb(3,0,7);
  background: -moz-linear-gradient(90deg, rgba(3,0,7,0.26156761532738093) 4%, rgba(7,1,15,1) 78%);
  background: -webkit-linear-gradient(90deg, rgba(3,0,7,0.26156761532738093) 4%, rgba(7,1,15,1) 78%);
  background: linear-gradient(90deg, rgba(3,0,7,0.26156761532738093) 4%, rgba(7,1,15,1) 78%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030007",endColorstr="#07010f",GradientType=1);
}

.carousel-container:hover{
    .next-button,.prev-button{
      visibility: visible;

    }
}

.prev-button {
  left: 0px;
}

.next-button {
  right: 0px;
}


.horizontal_card_image{
  height:165px;
  width: 307px;
  border-radius: 8px 8px;
  display: inline-block;
}
.horizontal_card{
    height: 190px;
    margin-right: 25px;
    width:307px;
    display: inline-block;

    background-color: transparent;
}

.vertical_card{
  display: inline-block;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  height: 230px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 190px;
  border-radius: 8px 8px;
}

.card-title{
  font-size: 17px;
}
.categories{
  margin-top: 15px;
  margin-bottom: 10px;
}

/* icons in the menu */
.items{
  /* margin-bottom: 45px; */
  font-size: 25px;
  color: rgb(206, 203, 203);
}
.menubar-item-label{
  display: inline-block;
  padding-left: 15px;
}
.menubar-item-container:hover{
    cursor: pointer;
}
/* desctiption of each cards */
span{
  margin-top: 5px;
  font-size: 18px;
}

.brand-logo{
  position: fixed;
  top: 30px;
  height: 50px;
  left: 15px;
}

.top-image{
  height: 300px;
  width: 600px;
  display: inline-block;
}
.desc{
  position: absolute;
  left: 725px;
  background-color:#16181f;
  top: 25px;
  width: 850px;
  height: 300px;
}

@media screen and (max-width:1000px) and (min-width:800px) {
  .top-image{
    width: 450px;
    height: 250px;
  }
  ul{
    width: 150px;
  }
  .desc{
    width: 350px;
    height: 250px;
    left: 600px;
  }
  .overlap{
    height: 250px !important;
    left: 500px !important;
  }
}

@media screen and (max-width:800px) {

    .desc{
      position: relative;
      left: 0;
      height: inherit;
      background-color: transparent;
      margin-bottom: 35px;
    }
    .detail_of_show{
      display: none;

    }
    ul{
      width: 150px;
    }
    .card-container{
      margin-left: 0px;
    }
    .horizontal_card_image{
      height:120px;
      width: 200px;
      display: inline-block;
    }
    .categories{
      margin-left: 15px;
    }
    .top-content{
      padding-top: 60px;
    }
    .horizontal_card{
        height: 140px;
        margin-right: 5px;
        margin-left: 15px;
        width:200px;
        display: inline-block;
        background-color: transparent;
    }
    
    .vertical_card{
      display: inline-block;
      margin-right: 5px;
      margin-left: 15px;
      background-size: cover;
      background-position: center;
      height: 140px;
      margin-top: 12px;
      margin-bottom: 12px;
      width: 120px;
    }

    .brand_logo .desc .top-image .top-content{
      margin-left:0 !important;
    }
    .first,.second,.third,.forth{
    /* margin-left: 0 !important; */
    width: 200px !important;
    position: relative;
    display: block;
    }
    .hotsnavbar{
      visibility: visible !important;
    }
}
.hide_menu{
  background-color: #1b1e2b;
  opacity: .9;
  margin-top: 8px;
  height: 100vh;
  padding-top: 50px;
}
ul{
  list-style-type:none;
}
.navbar-brand-logo{
  margin-top: 10px;
  width: 65px;
  margin-left: 15px;
}
.hotsnavbar{
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 50;
  top: 0;
  background-color: black;
}
.hamburger{
  position: fixed;
  right: 15px;
  font-size: 25px;
  top: 20px;

}
@media screen and (max-width:800px) {
    .video-background{
      margin-left:0px;
      margin-right:0px;
      width: 100% !important;
    }
    .top-image{
      width: 400px;
      padding-left: 25px;
      height: 200px;
    }
    .desc{
      width: 300px !important;
    }
    .brand_logo .desc .top-image .top-content{
      margin-left:0 !important;
    }
    .first,.second,.third,.forth{
    width: 150px !important;
    position: relative;
    display: block;
    }
    .overlap{
      display: none;
    }
    .menu_options{
      margin-left: 0;
      visibility: hidden;
    }
    .top_content{
      margin-left: 0 !important;
    }
}


.brand_logo{
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
}

.title{
  display: inline-block;
  margin-left: 80px;

}

.links{
  text-align: left;
}

.top-content{
  margin-top:25px ;
}
h3{
  margin: 0 0;
  font-weight:500;
}
.info{
  margin: 0 0;
  color: #677d97;
}

.detail_of_show{
  margin-left: 25px;
}

.top-subscribe{
  margin-left: 25px;
  border: 0;
  padding: 14px 65px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px 10px;
  color: white;
  background-color: #252833;
}
.overlap{
  position: absolute;
  top: 25px;
  left: 625px;
  height: 300px;
  width: 130px;
  background: rgb(22,24,31);
  background: -moz-linear-gradient(270deg, rgba(22,24,31,1) 11%, rgba(239,239,239,0) 99%);
  background: -webkit-linear-gradient(270deg, rgba(22,24,31,1) 11%, rgba(239,239,239,0) 99%);
  background: linear-gradient(270deg, rgba(22,24,31,1) 11%, rgba(239,239,239,0) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16181f",endColorstr="#efefef",GradientType=1);}

.video-background{
  width: 110%;
  z-index: -1;
  position: sticky;
  
}

.first{
  position: absolute;
  left: 95px;
}

.first,.second,.third,.forth{
  display: inline-block;
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  
}
.second{
  position: absolute;
  left: 450px;
}
.third{
  position: absolute;
  left: 800px;
}
.forth{
  text-align: right;
  /* position: absolute; */
  
  display: inline-block;
  width: 650px;
  margin-left: 600px;
  margin-right: 25px;
  
}
.social{
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.googleplay{
  height: 40px;
  width: 120px;
  margin-left:15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer_choices{
  color: #8597ac;
  font-size: 16px;
}
.check{
  margin-right: 25px;
}
.menu_options{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 500px;
  padding-top: 14%;
  padding-left: 25px;
  height: 100vh;
  z-index: 50;
  color: transparent;
  background-color:transparent;
  transition: all .1s ease-in-out 0s;
}
.menubar-item-container{
  width: 150px;
}
.menu_options:hover{
  width: 140px;
  color: white;
  height: 100vh;
  background: rgb(0,0,8);
  background: -moz-linear-gradient(90deg, rgba(0,0,8,1) 2%, rgba(239,239,239,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,8,1) 2%, rgba(239,239,239,0) 100%);
  background: linear-gradient(90deg, rgba(0,0,8,1) 2%, rgba(239,239,239,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000008",endColorstr="#efefef",GradientType=1);opacity: 1;
}
